{% extends 'base.html.twig' %}

{% block title %}New Djs{% endblock %}

{% block body %}
    <h1>Create new Djs</h1>

    {{ include('djs/_form.html.twig') }}

    <a href="{{ path('djs_index') }}">back to list</a>
{% endblock %}
